JWT_SECRET={JWT_SECRET}
ACCESS_SECRET={ACCESS_SECRET}
REFRESH_SECRET={REFRESH_SECRET}

EMAIL_USER={EMAIL_USER}
EMAIL_PASS={EMAIL_PASS}
EMAIL_HOST={EMAIL_HOST}

TWILIO_ACCOUNT_SID={TWILIO_ACCOUNT_SID}
TWILIO_AUTH_TOKEN={TWILIO_AUTH_TOKEN}
TWILIO_PHONE_NUMBER={TWILIO_PHONE_NUMBER}

DUMMY_HASH = {DUMMY_HASH}

TOKEN_ISSUER={TOKEN_ISSUER}
TOKEN_AUDIENCE={TOKEN_AUDIENCE}
ACCESS_TOKEN_TTL={ACCESS_TOKEN_TTL}
REFRESH_TOKEN_TTL={REFRESH_TOKEN_TTL}
PORT={PORT}

PG_USERNAME={PG_POSTGRES}
PG_HOST={PG_HOST}
PG_DATABASE={PG_DATABASE}
PG_PASS={PG_PASS}
PG_PORT={PG_PORT}